body {
  margin: 0px;
  font-family: 'Kumbh Sans', sans-serif;
}

.menu {
  width: 100%;
  height: 90px;
}

.icono-menu-phone{
    display: none;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 90px;
  border-bottom: 1px solid;
}
.logo {
    padding-top: 17px ;
}

.ulmenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.ulmenu li {
  margin-right: 10px;
  list-style: none;
}

.ulmenu li a {
  text-decoration: none;
  color: black;
  padding-bottom: 61px;
  margin-left: 30px;
}

.ulmenu li a:hover {
  border-bottom: 4px solid #ea863d;
}
.righ-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin-left: auto;
  padding-right: 100px;
}
.righ-options div {
  margin-left: 30px;
}

.avatar-window {
  background-color: whitesmoke;

  border-radius: 15px;
  position: absolute;
  box-shadow: 2px 2px 5px #999;
  width: 400px;
  height: 300px;
 display: none;
}

.window-car {
    background-color: whitesmoke;
  
    border-radius: 15px;
    position: absolute;
    box-shadow: 2px 2px 5px #999;
    width: 400px;
    height: 300px;
   display: none;
    
  }
  .add-car-target{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

/* Tarjeta de Sneakers */

.sneakers-card {
  padding: 80px 0px 30px 150px;
  display: flex;
  flex-wrap: wrap;
}

.sneakers-selector {
  padding: auto;
}
.sneakers-selector img {
  border-radius: 10px;
}

.sneakers-selector div {
  margin-top: 30px;
}

.sneakers-selector div img {
  margin-left: 10px;
}

.sneakers-info {
  margin-left: 90px;
}
.sneakers-company {
  text-decoration: none;
  font-weight: bold;
  color: orange;
}
.sneakers-title {
  text-decoration: none;

  font-size: 40px;
  font-weight: 1000;
}

.price-description {
  font-weight: 2000;
  font-size: 20px;
}
.sneakers-description div {
  display: flex;
  flex-wrap: wrap;
}

.discount {
  color: orange;
  background-color: #fcecc2;
  padding: 5px;
  border-radius: 3px;
  width: 50px;
  text-align: center;
  margin-left: 10px;
}
.old-price {
  color: #9e9d9a;
  text-decoration: line-through;
}
.sneaker-buttons {
  display: flex;
  flex-wrap: wrap;
}

.input-selector {
  background-color: #f7f8fd;
  border: none;
  height: 50px;
  width: 70px;
}
.count-price-btn {
  border: none;
  background: #f7f8fd;

  height: 50px;
}
.add-to-car-butn {
  height: 50px;
  width: 300px;
  background-color: orange;
  color: white;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
}
